.env
.cursorignore
.venv/
.vscode/
.claude/

.DS_Store
*.DS_Store

__pycache__
.ipynb_checkpoints

!__init__.py

**cache*
!*cache.py

artefacts/
runtime/

dist/
build/
*.egg-info/

wandb/
logs/
docs/
screenshots/